body {
  background: #fefefe;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin: 0;
}

.Root {
  margin: 0 auto;
  max-width: 40em;
  padding: 2vw 5vw;
}

.Header {
  margin: 4vh 0;
  color: #a1a1a1;
}

.Footer {
  margin: 4vh 0;
  color: #a1a1a1;
}

.Footer__contact {
  font-style: normal;
}

.WordCloud__word-list {
  list-style: none;
  margin: 0 -5px;
  padding: 0;
  text-align: center;
  line-height: 5vw;
}

@media (min-width: 50em) {
  .WordCloud__word-list {
    margin: 0 -10vw;
  }
}

.WordCloud__word {
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
}

.InputForm {
  margin: 4vh 0;
}

.InputForm label {
  display: block;
  margin: 10px 0;
}

.InputForm dt {
  margin-bottom: 4px;
}

.InputForm dd {
  margin: 0;
}

.InputForm input, .InputForm textarea {
  width: 100%;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid #a1a1a1;
  padding: 5px;
}

.InputForm textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 20vh;
}
